.logo{
  height: 5vb;
  margin: 1%;
  margin-right: 0.5%;
}

.header {
  display: flex;
  border-bottom-width: 0.2cap;
  border-style: solid;
  border-color: rgb(255, 160, 8);
}

.title{
  margin-top: 0.6%;
  font-size: 200%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: rgb(46, 9, 113);
}

.sidebar{
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border-right-width: 0.2cap;
  border-style: solid;
  border-color: rgb(255, 160, 8);
  width: 120px;
  min-height: 90.7vh;
  margin-left: 1.5cap;
}

.homelink{
  margin-top: 3.5cap;
  display: flex;
  align-items: center;
}

.asb{
  margin-top: 2.8cap;
  display: flex;
  align-items: center;
}

.links{
  font-size: 125%;
  margin-left: 0.5cap;
}

.homelink:hover,.asb:hover{
  background-color: bisque;
  border-top-right-radius: 5cap;
  border-bottom-right-radius: 5cap;
  margin-right: 1cap;
  transform:translate(3px);
}

.active-class{
  margin-left: 1.5cap;
  pointer-events: none;
}
  
.input{
  display: flex;
  flex-direction: column;
  margin-top: 2cap;
  margin-left: 40%;
  width: 300px;
  height: 120px;
  box-shadow: -7px 8px 20px;
}

.title-input{
  border: 1px solid;
  border-bottom: 0cap;
  outline: none;
}

.text-input{
  height: 192%;
  width: 100%;
  resize: none;
  border: 1px solid;
  outline: none;
}

.add-button{
  position: absolute;
  display: flex;
  right: 5px;
  height: 25px;
  width: 25px;
  align-items: center;
  justify-content: center;
  top: 126%;
  background-color: rgb(0, 255, 0);
  border-radius: 100%;
}

.button-hover:hover{
  transform: scale(1.05, 1.05);
}

.notes-area{
  display: flex;
  flex-wrap: wrap;
  margin: 40px 0 10px 30px;
  gap: 35px 40px;
}

.note{
  display: flex;
  flex-direction: column;
  overflow-wrap: break-word;
  gap: 5px;
  border: 1px solid;
  border-radius: 10px;
  width: 230px;
  height:fit-content;
  padding: 0 10px 0 10px;
}

.note-title{
  display: flex;
  justify-content: space-between;
}

.note-footer{
  display: flex;
  gap: 8px;
  justify-content: flex-end;
}

